<form>
    <h1>Cadastro de Produto</h1>
    

    <div class="form-group row">
        <div class="col-sm-6">
            <label for="categoria" class="col-sm-2 col-form-label">Nome:</label>
            <input type="text" class="form-control" autocomplete="off" name="nome"  
                placeholder="Digite o nome do Produto" [(ngModel)]="produto.nome">
        </div>
    </div> 


        <div class="form-group row">
            <div class="col-sm-6">
                <label for="categoria" class="col-sm-2 col-form-label">quantidade:</label>
                <input type="number" class="form-control"  name="quantidade" [(ngModel)]="produto.quantidade" 
                    placeholder="Digite a quantidade do produto">
            </div>
        </div> 

            <div class="form-group row">
                <div class="col-sm-6">
                    <label for="categoria" class="col-sm-2 col-form-label">Preço:</label>
                    <input type="number" class="form-control"  name="preco" [(ngModel)]="produto.preco" 
                        placeholder="Digite o valor do produto">
                </div>
            </div> 


                <div class="form-group row">
                    <div class="col-sm-6">
                        <label for="categoria" class="col-sm-2 col-form-label">Data:</label>
                        <input type="date" class="form-control"  name="dataDeValidade" [(ngModel)]="produto.dataDeValidade" 
                            placeholder="A data do produto">
                    </div>
                </div>

                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label for="categoria" class="col-sm-2 col-form-label">Categoria:</label>
                            <select [(ngModel)]="produto.categoria.codigo" id="categoria" name="categoria" class="form-control">
                                <option [value]="c.codigo" *ngFor="let c of categorias">{{c.nome}}</option>
                            </select>
                        </div>
    
    </div>

    <button  class="btn btn-success" (click)="save()">Salvar</button>


</form>
